<block-form>
  <form id="block-create" method="post" action="/pages/<%= it.page.idPage %>/block">
    <select name="type">
      <option value="text" data-type="text">Text</option>
      <option value="javascript" data-type="text">Javascript</option>
    </select>

    <fieldset name="text-area">
      <textarea name="data"></textarea>
    </fieldset>

    <button type="submit">Add Block</button>
  </form>

  <form id="block-create-link" method="post" action="/pages/<%= it.page.idPage %>/block">
    <select name="type">
      <option value="link" data-type="link">Link</option>
    </select>

    <fieldset name="link-area">
      <input type="url" name="data">
    </fieldset>

    <button type="submit">Add Block</button>
  </form>

  <form id="block-create-file" method="post" action="/pages/<%= it.page.idPage %>/block-file" enctype="multipart/form-data">
    <select name="type">
      <option value="file" data-type="file">File</option>
    </select>

    <fieldset name="file-area">
      <input type="file" id="file" name="file">
    </fieldset>

    <button type="submit">Add Block</button>
  </form>
</block-form>
