<% layout('layout.html') %>

<% it.pages.forEach(page => { %>
  <h2><%= page.metadata.name %></h2>

  <% it.blocks.forEach(block => { %>
    <article order="<%= block.order %>" data-id-Block="<%= block.idBlock %>" data-id-page="<%= block.idPage %>">
      <details <% if (block.open) { %>open<% } %>>
        <summary><%= block.metadata.type %></summary>

        <div>
          <% if (block.metadata.type !== 'image') { %>
          <form id='block-update-<%= block.idBlock %>' method="post" action="/blocks/<%= block.idBlock %>/update">
              <fieldset role="group">
                <% if (block.metadata.type === 'text' || block.metadata.type === 'javascript') { %>
                  <textarea name="data"><%= block.payload %></textarea>
                <% } %>

                <% if (block.metadata.type === 'link') { %>
                  <input type="url" name="data" value="<%= block.output.url %>">
                <% } %>
              </fieldset>

              <input type="hidden" name="type" value="<%= block.metadata.type %>">
              <input type="hidden" name="idPage" value="<%= page.idPage %>">
            </form>
          <% } %>

          <% if (block.metadata.type === 'text') { %>
            <article class="block-output"><%= block.output %></article>
          <% } %>

          <% if (block.metadata.type === 'javascript') { %>
            <textarea readonly class="block-output"><%= block.output %></textarea>
          <% } %>

          <% if (block.metadata.type === 'image') { %>
          <figure class="block-output">
            <img src="<%= block.output %>">
          </figure>
          <% } %>

          <% if (block.metadata.type === 'link') { %>
          <article class="block-output">
            <a href="<%= block.output.url %>" target=_blank><%= block.output.url %></a>
            <a href="<%= block.output.cachedUrl %>" target=_blank>( Cached )</a>
          </article>
          <% } %>
        </div>

        <div role="group">
          <button class="outline" type="submit" form="block-update-<%= block.idBlock %>">Update</button>
          <a class="outline secondary" href="/pages/<%= page.idPage %>/block/<%= block.idBlock %>/delete" role="button">Delete</a>
        </div>
      </details>
    </article>
  <% }) %>

  <%~ include('block-form.html', { page }) %>

  <template id="add-block-template">
    <dialog id="create-modal">
      <form method="dialog">
        <button aria-label="close" formnovalidate>&times;</button>
      </form>
    </dialog>
  </template>
<% }) %>

