<% layout('layout.html') %>

<% it.pages.forEach(page => { %>
  <article>
    <h2><%= page.metadata.name %></h2>

    <% it.blocks.forEach(block => { %>
    <p>
      <%= block.output %>
    </p>
    <% }) %>

    <form id="block-create" method="post" action="/pages/<%= page.idPage %>/block">
      <select name="type">
        <option value="text">Text</option>
        <option value="javascript">Javascript</option>
      </select>

      <textarea name="data"></textarea>

      <button type="submit">Add Block</button>
    </form>
  </article>
<% }) %>
